<nav class="navbar navbar-default navbar-static-top af-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AFrame</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% if page.url =='/gettingstarted/' %}active{% endif %}">
                    <a href="/gettingstarted">Getting Started</a>
                </li>
                <!--<li class="{% if page.url =='/core/' %}active{% endif %}">
                    <a href="/core">Core Concepts</a>
                </li>
                <li class="{% if page.url =='/web/' %}active{% endif %}">
                    <a href="/web">Web</a>
                </li>
                <li class="{% if page.url =='/desktop/' %}active{% endif %}">
                    <a href="/desktop">Desktop</a>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/AFrame/AFrame" target="_blank">Github</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>